*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    background:#111827;
    padding:30px;
}

.container{
    max-width:1200px;
    margin:auto;
}

h1{
    text-align:center;
    color:white;
    margin-bottom:20px;
}

#search{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:16px;
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fill, 300px);
    justify-content:center;
    gap:20px;
}

.card{
    height:400px;
    border-radius:20px;
    overflow:hidden;
    display:flex;
    align-items:flex-end;
    background-size:cover;
    background-position:center;
    position:relative;
    cursor:pointer;
    transition:0.3s;
    background-image:url("https://plus.unsplash.com/premium_photo-1690407617542-2f210cf20d7e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8fHww");
}

.card:hover{
    transform:translateY(-5px);
}


.info{
    width:100%;
    padding:20px;
    color:white;

    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);

    border-top:1px solid rgba(255,255,255,0.2);
}

.info h2{
    margin-bottom:8px;
}

.info p{
    font-size:14px;
    line-height:1.5;
}